body {
    font-family: 'Raleway', sans-serif;  
    font-size: 1rem;
    color: gray;
    }




.about{
    background-color: #f8f8f6;
    color: #3d3b46;
}    

.icons i{
    color: white;
    padding-top: 1rem;
}

.icons h4{
    color: #3d3b46;
}

.portafolio h2{
    color: #3d3b46;
}

#circulo{
    height:70px;
    width:70px;
    background: #f7bec7;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
 }

 .contact{
     background-color: #ffe6e1;
     color: #3d3b46;
 }


footer{
    padding: 5rem;
}

.icons a{
    text-decoration: none;
}